{% extends 'base.html' %}

{% block content %}

  <!-- Outer Row -->
  <div class="row justify-content-center login-section" style="margin-top: -1.5rem;">

      <div class="col-11 col-sm-8 col-md-6 col-lg-6 col-xl-4">

          <div class="card o-hidden border-0 my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <!-- <div class="col-lg-6 d-none d-lg-block bg-password-image"></div> -->
                      <div class="col-lg-12">
                          <div style="padding: 2.5rem 2rem;">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-2 login-section__title">Change Your Password</h1>
                              </div>
  
                              <form method="POST" class="user">{% csrf_token %}
                                <!-- <h1 class="h3 mb-3 font-weight-normal">Resettt password</h1> -->
                                  <input name="old_password" class="form-control form-control-user" placeholder="Enter Your old Password" 
                                  type="password" id="id_old_password" required="true"
                                  style="margin-bottom: 1rem; margin-top: 1rem;">

                                  <input name="new_password1" class="form-control form-control-user" placeholder="Enter Your New Password" 
                                  type="password" id="id_new_password1" required="true"
                                  style="margin-bottom: 1rem; margin-top: 1rem;">

                                  <input name="new_password2" class="form-control form-control-user" placeholder="Confirm Your New Password" 
                                  type="password" id="id_new_password2" required="true"
                                  style="margin-bottom: 1rem; margin-top: 1rem;">

                                    {% for field in form %}
                                      {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                      {% endfor %}
                                    {% endfor %}


                                <button class="btn btn-primary btn-user btn-block ml-0" type="submit">Change My Password</button>  
                              </form>

                              <hr>
                              <div class="text-center"><a class="small" href="{% url 'home' %}">Back To Dashborad</a></div>
                              <!-- <div class="text-center">
                                  <a class="small" href="{% url 'register' %}">Create an Account!</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}