{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock%}

{% block body %}
<style>
	#id_dob_month {
		width: 33% !important;
		display: inline;
	}

	#id_dob_day {
		width: 33% !important;
		display: inline;
	}

	#id_dob_year{
		width: 33% !important;
		display: inline;
	}
</style>
  <div class="container">
  	<!-- <h1 class= "text-center logo my-4">
  		<a href="{% url 'home' %}">.hack( ); 2021</a> 
	  </h1> -->
	  <!-- <div style="text-align: center;">
		<a href="{% url 'home' %}"> <img src="{% static 'img/logo-techie.png' %}" style="  height: auto;
		 width: auto;
		 max-height: 72px;
		 max-width: 150px;" alt="logo" /></a>
		 </div> -->

  	<div class="row justify-content-center">
  		<div class="col-lg-8 col-md-10 col-sm-12">
  			<div class="card">
  				<div class="card-body">
					  <h3 class="card-title">Submit Your Project</h3>
					  	{% if request.user.profile.welcome_mail_sent %}
							<div style="font-size: small;margin-bottom: 1rem;">
								<span><a href="{% url 'home' %}">Back to Dashboard</a></span>
							</div>
						{% endif %}
					  <div class="mb-4">
						  Please fill out this form to complete your project submission.
					  </div>
  					<form method="post" novalidate class="user">
						  {% csrf_token %}
						  
						  {% for field in form %}
							<p>
								{{field.label_tag}}
								{% if field.field.required %}<span style="color: red;">*</span>{% endif %}
								<br>
								{{field }}
								{% if field.help_text %}
									<small style="color:grey">{{field.help_text}}</small>
								{% endif %}
								
								
								{% for error in field.errors %}
									<p style="color:red">{{error}}</p>
								{% endfor %}
							</p>
						  {% endfor %}
     					 <button type="submit" class="btn btn-primary btn-user">Submit</button>
    				</form>
  				</div>
  				<div class="card-footer text-muted text-center">
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}
