{% extends 'email_base.html' %}

{% block content %}

    <h4>Dear {{ user.profile.name }}, </h4>
    <p class="mt-4"> This is to inform you that a project abstract has been submitted by your team "{{ team_name }}" for .hack(); 2021.</p>
    <p class="mt-4"> Team Name: {{ team_name }}</p>
    <p class="mt-4">Please join the official discord server of the event using <a href="https://google.com"> <b>this link</b></a>. This is the official server for the 
        event and all the communications for the event shall take place through this Discord server. An invite has been send to all the 
        members of your team. Please ensure that all your teammates have joined the server.
    </p>
    <p class="mt-4">If this action was not performed by you please contact us at <a href="mailto:hack.mace@ieee.org">hack.mace@ieee.org</a></p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}