{% extends 'email_base.html' %}

{% block content %}
        <h4>Hello,</h4>
        <p class="mt-4"> 
            The application for your team "{{ team_name }}" has been submitted successfully.<br>
            No more changes can be made to the team. If this action was made accidently, please 
            contact us at <a href="mailto:sb.mace@ieee.org">sb.mace@ieee.org</a>
        </p>
        <!-- <p class="mt-4"> The application for your team "{{ team_name }}" has been submitted successfully.</p> -->
        <p class="mt-4"> We will review your application and let you know about your application status. Keep a watch on the website
            for updates.
        </p>
        <p class="mt-4">
            The hackathon will officially begin on 29th January 2020. A detailed structure containing all the details  
            will be sent to you later if your team is shortlisted.You may develop software or hardware projects but it 
            must be based on one or more of the themes given.
        </p>
        <p class="mt-4">
            All design elements, code, hardware builds, etc. for your project must be created during the hackathon.
            You may be asked to submit a detailed abstract of your project as well as a video of your project and working.
        </p>
        <p class="mt-4"> With Best Regards,</p>
        <h4> Team .hack();</h4>
{% endblock %}