{% extends 'email_base.html' %}

{% block content %}
    <h4>Hello {{ member.profile.name }}, </h4>
    <p>Thank you for taking the time to fill in the application for .hack(); 2021.<br>
        We are going through your application. We recevied an overwhelming number of applications for
        .hack(); this year and are going through each of the applications meticulously. We will get back to you as soon as we can.
        In the mean time keep a watch on your profile at the website to get updates.
    </p>
    </p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}