{% extends 'email_base.html' %}

{% block content %}
    <h4>Hello, </h4>
    <h5 class="mt-4"> {{ admin }} has deleted the team {{ team_name }}</h5>
    <h5 class="mt-4"> Team Name: {{ team_name }}</h5>
    <h5 class="mt-4">Please note that now you and all the people who were members of the team Does not have a team now.
        In order to participate in .hack(); you need to have a team. Create a team of your own or join another team.
        Even if you are planning to participate alone, you need to 
        create a team and then submit the application with only you as the member.
    </h5>
    <h5 class="mt-4"> With Best Regards,</h5>
    <h4> Team .hack();</h4>
{% endblock %}