{% extends 'email_base.html' %}

{% block content %}
    <h4>Winners Never Quit, and Quitters Never Win! </h4>
    <h4>Dear {{ user.profile.name }}, </h4>
    <p class="mt-4"> This is to inform you that your team "{{ team_name }}" for .hack(); 2021 has been deleted.</p>
    <p class="mt-4"> Team Name: {{ team_name }}</p>
    <p class="mt-4">Please note that now you and all the people who were members of the team Does not have a team now.
        In order to participate in .hack(); 2021 you need to have a team. Even if you are planning to participate alone, you need to 
        create a team and then submit the application with only you as the member.
    </p>
    <p class="mt-4">You are always welcome to join us (Until Application closes on January 12<sup>th</sup>, 2020).</p>
    <p class="mt-4">If this action was not performed by you please contact us at <a href="mailto:sb.mace@ieee.org">sb.mace@ieee.org</a></p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}