{% extends 'email_base.html' %}

{% block content %}
    <h4>Dear {{ user.profile.name }}, </h4>
    <p class="mt-4"> <b>Greetings from IEEE MACE SB</p>
    <p class="mt-4"> This mail is to inform you that you have succesfully joined the team {{ team_name }} for .hack(); 2021.</p>
    <p class="mt-4"> <b>Team Details</b></p>
    <p class="mt-4"> Team Name: {{ team_name }}</p>
    <p class="mt-4"> Team ID: {{ team_id }}</p>
    <p class="mt-4"> Once all the members of the team has joined the teams, ask your team leader to make the final submission.<br>
    <b>Please note that the last date to submit the application is 12<sup>th</sup> of January  2021</b></p>
    <p class="mt-4"> All teams will undergo a shortlisting procedure based on the profiles of the team members before they can 
        participate in the hackathon. Hence ensure you fill in all details in your profile correctly.
        All selected teams are to submit a preliminary abstract based on any of the themes before 26<sup>th</sup> January 2021.</p>
    <p class="mt-4">If this action was not performed by you please contact us at <a href="mailto:sb.mace@ieee.org">sb.mace@ieee.org</a></p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}