{% extends 'email_base.html' %}

{% block content %}

    <h4>Dear {{ user.profile.name }}, </h4>
    <p class="mt-4"> This is to inform you that a project submission has been made by your team "{{ team_name }}" for .hack(); 2021.</p>
    <p class="mt-4"> Team Name: {{ team_name }}</p>
    <p class="mt-4">The judgement will start at 09:30 AM IST on the Sunnday, the 31st of January 2021. You will be communicated more details regarding the judgement via the discord server.
    </p>
    <p class="mt-4">If this action was not performed by you please contact us at <a href="mailto:hack.mace@ieee.org">hack.mace@ieee.org</a></p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}