{% extends 'email_base.html' %}

{% block content %}
    <h4>Dear {{ user.profile.name }}, </h4>
    <p class="mt-4"> 
        Thank you for registering for .hack(); 2021. <br>
        This is to inform you that a new team has been created, linked to you account.<br>
        Share the team ID with other members of your team for them to join. Other participants can search for 
        your team using the unique Team ID. Please keep the team ID confidential among members of your team as the Team ID
        is considered as the Key to join the team.Anyone with your Team ID will be able to join the team. So kindly
        make sure that the team ID is not shared elsewhere. If the team ID is leaked and someone you do not know joins the team the team,
        you will have to delete the team and create a new team. Please make it a point to keep the Team ID condidential.<br>
        Once all the members have joined the team, you will have to submit the application by clicking the "Submit" Button in the 
        Dashboard. Please make sure to complete your team and submit the application before 15<sup>th</sup> January 2020.
    </p>
    <p class="mt-4"> Team Name: {{ team_name }}</p>
    <p class="mt-4"> Team ID: {{ team_id }}</p>
    <p class="mt-4">If this action was not performed by you please contact us at <a href="mailto:hack.mace@ieee.org">hack.mace@ieee.org</a></p>
    <p class="mt-4"> With Best Regards,</p>
    <h4> Team .hack();</h4>
{% endblock %}