{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock%}

{% block body %}
<style>
	#id_dob_month {
		width: 33% !important;
		display: inline;
	}

	#id_dob_day {
		width: 33% !important;
		display: inline;
	}

	#id_dob_year{
		width: 33% !important;
		display: inline;
	}
</style>
  <div class="container">
  	<h1 class= "text-center logo my-4">
  		<a href="{% url 'home' %}">.hack( ); 2021</a>
  	</h1>
  	<div class="row justify-content-center">
  		<div class="col-lg-8 col-md-10 col-sm-12">
  			<div class="card">
  				<div class="card-body">
  					<h3 class="card-title">Profile</h3>
  					<form method="post" novalidate>
						  {% csrf_token %}
						  
						  {% for field in form %}
							<p>
								{{field.label_tag}}<br>
								{{field }}

								{% if field.help_text %}
									<small style="color:grey">{{field.help_text}}</small>
								{% endif %}
								
								{% for error in field.errors %}
									<p style="color:red">{{error}}</p>
								{% endfor %}
							</p>
						  {% endfor %}
     					 <button type="submit" class="btn btn-primary">Update Profile</button>
    				</form>
  				</div>
  				<div class="card-footer text-muted text-center">
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}
