{% extends 'base.html' %} 
{% load static %}
{% block breadcrumb %}
<!-- <a class="navbar-brand" href="{% url 'home' %}"> <li class="breadcrumb-item active">.hack( ); 2021</li></a> -->
{% endblock %} {% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <!-- name and organization card starts -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{% static 'img/avatars' %}/{{ request.user.profile.avatar_choice }}.jpg" alt="Admin" class="rounded-circle" width="150" />
                            <div class="mt-3">
                                <h4>{{ request.user.profile.name }}</h4>
                                <p class="text-secondary mb-1">{{ request.user.profile.educational_institution }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- name and organization card ends -->

                <!-- profile card starts -->
                <div class="card mb-3 mt-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">{{ request.user.profile.name }}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">{{ request.user.email }}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">{{ request.user.profile.contact }}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">{{ request.user.profile.shipping_address }}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Skills</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">{{ request.user.profile.skills }}</div>
                        </div>
                    </div>
                </div>
                <!-- profile card ends -->

                <!-- social profiles card starts -->
                {% if request.user.profile.twitter_profile_link or request.user.profile.github_profile_link or request.user.profile.linkedin_profile_link or request.user.profile.website_link %}
                <div class="card mt-3">
                    <form class="user" style="padding: 1rem; margin: 0 1rem 0 1rem">
                        {% if request.user.profile.twitter_profile_link %}
                        <a href="{{ request.user.profile.twitter_profile_link }}" class="btn btn-facebook btn-user btn-block" target="_blank" style="background-color: #1da1f2"> <i class="fab fa-twitter fa-fw"></i> Twitter </a>
                        {% endif %} {% if request.user.profile.github_profile_link %}
                        <a href="{{ request.user.profile.github_profile_link }}" class="btn btn-facebook btn-user btn-block" target="_blank" style="background-color: #333"> <i class="fab fa-github fa-fw"></i> GitHub </a>
                        {% endif %} {% if request.user.profile.linkedin_profile_link %}
                        <a href="{{ request.user.profile.linkedin_profile_link }}" class="btn btn-facebook btn-user btn-block" target="_blank" style="background-color: #0e76a8"> <i class="fab fa-linkedin-in fa-fw"></i> LinkedIn </a>
                        {% endif %} {% if request.user.profile.website_link %}
                        <a href="{{ request.user.profile.website_link }}" class="btn btn-facebook btn-user btn-block" target="_blank" style="background-color: #1bb35f"> <i class="fa fa-globe fa-fw"></i> Personal Website </a>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
                <!-- social profiles card ends -->
            </div>

            <div class="col-md-8">
                <div class="row gutters-sm">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body">
                                {% if not user_has_team %}
                                <span>Create a team to get started</span>
                                <form method="post" novalidate class="user mt-3 mb-3">
                                    {% csrf_token %} {% for field in team_form %}
                                    <div class="row">
                                        <div class="col-sm-9 text-secondary">{{field}}</div>

                                        {% if field.help_text %}
                                        <small style="color: grey">{{field.help_text}}</small>
                                        {% endif %} {% for error in field.errors %}
                                        <p style="transform: translate(20px, 10px); color: red; order: 2">{{error}}</p>
                                        {% endfor %}
                                        <button type="submit" name="create_team" class="btn btn-primary btn-user mt-xs-3">Create Team</button>
                                    </div>
                                    {% endfor %}
                                </form>
                                <h3 style="text-align: center; color: #1bb35f">OR</h3>
                                <span class="card-title mb-3">Join A Team if someone in your team has already created one</span>
                                <form method="post" novalidate class="user mt-3">
                                    {% csrf_token %} {% for field in search_form %}
                                    <div class="row">
                                        <div class="col-sm-9 text-secondary">{{field}}</div>

                                        {% if field.help_text %}
                                        <small style="color: grey">{{field.help_text}}</small>
                                        {% endif %} {% for error in field.errors %}
                                        <p style="transform: translate(20px, 10px); color: red; order: 2">{{error}}</p>
                                        {% endfor %}
                                        <button type="submit" name="search_team" class="btn btn-primary btn-user mt-xs-3">Search Team</button>
                                    </div>
                                    {% endfor %}
                                </form>

                                {% if no_teams_found %}
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <h5 style="color: red">No Team found</h5>
                                    </div>
                                    <div class="card-footer text-muted text-center"></div>
                                </div>

                                {% elif searched_team %}
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <h3 class="card-title">Join A Team</h3>
                                        <ol>
                                            <li><a href="{% url 'team_detail' searched_team.id %}"> {{ searched_team.name }} </a></li>
                                        </ol>
                                    </div>
                                </div>
                                {% endif %} {% else %} {% if application %}
                                <h2>Team Details</h2>
                                {% if application.application_status == 'Not Submitted'%}
                                <p class="btn btn-info btn-icon-split mb-3">Your Application to .hack( ); 2021 has not been submitted yet.</p>
                                {% if request.user == application.team.admin %}
                                <a href="{% url 'leave_team' application.team.id %}"> <button name="leave_team" class="btn btn-primary mb-3">Delete Team</button></a>
                                <a href="{% url 'submit_application' %}"> <button name="leave_team" class="btn btn-primary mb-3 confirm-submit">Submit Application</button></a>
                                {% else %}
                                <p>Ask your Team admin to submit the application as soon as your team is complete</p>
                                <a href="{% url 'leave_team' application.team.id %}"> <button name="leave_team" class="btn btn-primary">Leave Team</button></a>
                                {% endif %} {% elif application.application_status == 'Accepted' %}
                                <p class="btn btn-primary btn-icon-split">YEAYY!! Your Application to .hack( ); 2021 has been ACCEPTED.</p>
                                <p>We received an overwhelming amount of responses for .hack(); this year and we were impressed by the applications. We are happy you are part of the brilliant team of innovators that will be solving problems at .hack(); this year.</p>
                                {% elif application.application_status == 'Declined' %}
                                <p class="btn btn-danger btn-icon-split">Uh Oh! Your Application to .hack(); has been Declined.</p>
                                <p>We received an overwhelming amount of applications and all of them were very impressive. But unfortunately we cannot accept all of them. We had a very hard time choosing the teams. Thank you for your application. You can still attend all the webinars and workshops and skill up. And hey, <span class="text-danger" style="text-align: center"> YOU DON'T NEED A HACKATHON TO HACK PROBLEMS...</span></p>
                                {% else %}
                                <p class="btn btn-warning btn-icon-split">Your Application to .hack( ); 2021 has been submitted.</p>
                                <p>We are reviewing the applications as fast as we can. We will keep you updated about you application progress. Come back here to check up on your application status.</p>
                                {% endif %} {% endif %}

                                <div class="card mb-3 mt-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Team Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">{{ users_team.name }}</div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Team ID</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ users_team.id }} {% if application.application_status == "Not Submitted" %}
                                                <button class="btn clippy btn-primary" data-clipboard-text="{{ users_team.id }}">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-clippy.svg" alt="Copy to clipboard" width="13" />
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Created By</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">{{ users_team.admin.profile.name }}</div>
                                        </div>
                                        <hr />
                                        <h6>Team Members</h6>
                                        <ol>
                                            {% for member in application.members.all %}
                                            <li>{{ member.profile.name }} - {{ member.email }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <h3 class="ml-3">Your Profile info</h3>
                        <div class="card mb-3 mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.gender }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Date of Birth</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.dob }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">State of Residence</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.state }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">T-Shirt Size</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.tshirt_size }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Year of Graduation</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.year_of_graduation }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">IEEE Membership Status</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{% if request.user.profile.is_ieee == 1 %} Active IEEE Member {% else %} Not an IEEE Member {% endif %}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Educational Institution</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.educational_institution }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Field of Study</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.field_of_study }}</div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h6 class="mb-0">Bio</h6>
                                    </div>
                                    <div class="col-sm-8 text-secondary">{{ request.user.profile.bio }}</div>
                                </div>
                            </div>
                        </div>
                        <form class="user">
                            <a href="{% url 'profile-update' %}"><div class="btn btn-primary btn-user">Edit Profile</div></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.confirm-submit').addEventListener('click', e=>{
        e.preventDefault();
        if(confirm("Once you submit application no changes can be made again. Make sure all members of the team has joined before you submit your application. No changes will be possible after submit. Are you sure you want to submit? Click 'OK' to submit")){
            window.location.href="{% url 'submit_application' %}"
        }
    })
</script>

<script>
    var clipboard = new ClipboardJS(".btn");

    clipboard.on("success", function (e) {
        console.log(e);
    });

    clipboard.on("error", function (e) {
        console.log(e);
    });
    $(document).ready(function () {
        $(".clippy").tooltip({ title: "Copied!", trigger: "click" });
    });
    $(".clippy").mouseleave(function () {
        $(".clippy").tooltip("hide");
    });
</script>

{% endblock content %}
