{% extends 'base.html' %}

{% block breadcrumb %}
<!-- <a class="navbar-brand" href="{% url 'home' %}"> <li class="breadcrumb-item active">.hack( ); 2021</li></a> -->


 
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="card custom-card">
      <div class="card-body">
        <!-- <h3 class="card-title">Create Team</h3> -->
        {% if not user_has_team %}
          <form method="post" novalidate>
            {% csrf_token %}
            
            {% for field in team_form %}
            <p>
              {{field.label_tag}}
              {{field}}

              {% if field.help_text %}
                <small style="color:grey">{{field.help_text}}</small>
              {% endif %}
              
              {% for error in field.errors %}
                <p style="color:red">{{error}}</p>
              {% endfor %}
            </p>
            {% endfor %}
              <button type="submit" name="create_team" class="btn btn-primary">Create Team</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
        </div>
      </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Join A Team</h3>
              <form method="post" novalidate>
                {% csrf_token %}
                
                {% for field in search_form %}
                <p>
                  {{field.label_tag}}
                  {{field}}
      
                  {% if field.help_text %}
                    <small style="color:grey">{{field.help_text}}</small>
                  {% endif %}
                  
                  {% for error in field.errors %}
                    <p style="color:red">{{error}}</p>
                  {% endfor %}
                </p>
                {% endfor %}
                  <button type="submit" name="search_team" class="btn btn-primary">Search</button>
              </form>
            </div>
            <div class="card-footer text-muted text-center">
            </div>
          </div>
        {% if no_teams_found %}

          <div class="card">
            <div class="card-body">
              <!-- <h3 class="card-title">Join A Team</h3> -->
              <h5 style="color: red;">No Team found</h5>
            </div>
            <div class="card-footer text-muted text-center">
            </div>
          </div>

        {% elif searched_team %}
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Join A Team</h3>
              <ol>
                  <li><a href="{% url 'team_detail' searched_team.id %}"> {{ searched_team.name }} </a></li>
              </ol>
            </div>
            <div class="card-footer text-muted text-center">
            </div>
          </div>

          {% endif %}
      
        {% else %}

        {% if application %}
          <h2>{{ application.team.name }} </h2>
          {% if application.application_status == 'Not Submitted'%}
              {% if request.user == application.team.admin %}
                  <P>Your Application to .hack( ); 2021 has not been submitted yet.</P>
                  <a href="{% url 'leave_team' application.team.id %}"> <button name="leave_team" class="btn btn-primary">Delete Team </button></a>
                  <a href="{% url 'submit_application' %}"> <button name="leave_team" class="btn btn-primary">Submit Application </button></a>
              {% else %}
              <a href="{% url 'leave_team' application.team.id %}"> <button name="leave_team" class="btn btn-primary">Leave Team </button></a>
              {% endif %}
          {% else %}
              <P>Your Application to .hack( ); 2021 has been submitted.</P>
          
          {% endif %}
        {% endif %}
        
        <h6>Team Details:</h6>
        <p>Team Name: {{ users_team.name }} </p>
        <p>Team ID: {{ users_team.id }} </p>
        <p>Created By: {{ users_team.admin.profile.name }} </p>
        <h6>Team Members</h6>
          <ol>
            {% for member in application.members.all %}
              <li> 
                {{ member.profile.name }} - {{ member.email }}
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      

    
{% endif %}
{% endblock content %}

