{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">.hack( ); 2021</li>
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
  {% if request.user.team or request.user.team_name %}
  <h2>{{ request.user.team.name }} {{ request.user.team_name.name }} </h2>
  {% endif %}
  {% if success %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ success }}</h3>
        <h4>Go back to <a href="{% url 'home' %}">homepage</a></h4>
      </div>
      <div class="card-footer text-muted text-center">
      </div>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Create Team</h3>
        <form method="post" novalidate>
          {% csrf_token %}
          
          {% for field in team_form %}
          <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
              <small style="color:grey">{{field.help_text}}</small>
            {% endif %}
            
            {% for error in field.errors %}
              <p style="color:red">{{error}}</p>
            {% endfor %}
          </p>
          {% endfor %}
            <button type="submit" class="btn btn-primary">Create Team</button>
        </form>
      </div>
      <div class="card-footer text-muted text-center">
      </div>
    </div>
  {% endif %}
{% endif %}
{% endblock content %}

