{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">.hack( ); 2021</li>
{% endblock %}

{% block content %}
        {% if request.user.is_authenticated %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ message }}</h3>
                    <h4>Go back to <a href="{% url 'home' %}">Dashboard</a></h4>
                </div>
                <div class="card-footer text-muted text-center">
                </div>
            </div>
        {% endif %}
{% endblock content %}

