{% extends 'base.html' %}
{% load static %}

{% block body %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Organizer Dashboard</h1>
                    <div style="display: flex;">
                        <div class="dropdown no-arrow">
                            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                                    <div class="dropdown-toggle d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-mail-bulk fa-sm text-white-50" style="margin-right: .5rem;"></i>Email Participants
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Email Teams regarding<br> their application status</div>
                                        <a class="dropdown-item" id="mail-accepted" href="{% url 'mail_accepted' %}">Email Accepted Teams</a>
                                        <a class="dropdown-item" id="mail-declined" href="{% url 'mail_declined' %}">Email Declined Teams</a>
                                        <a class="dropdown-item" id="mail-wtlst" href="{% url 'mail_wtlst' %}">Email Waiting List Teams</a>
                                        <a class="dropdown-item" id="mail-nosub" href="{% url 'mail_not_submitted' %}">Email Not Submitted Teams</a>
                                        <a class="dropdown-item" href="{% url 'custom_mails' %}">Send Custom Emails</a>
                                        <!-- <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a> -->
                                    </div>
                                </div>

                        <div class="dropdown no-arrow">
                            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->

                                    <div class="dropdown-toggle d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-upload fa-sm text-white-50" style="margin-right: .5rem;"></i>Export Data
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Export Participant Data</div>
                                        <a class="dropdown-item" href="{% url 'export_profile_csv' %}">Export as CSV</a>
                                        <a class="dropdown-item" href="{% url 'export_profile_xls' %}">Export as XLS</a>
                                        <!-- <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a> -->
                                    </div>
                                </div>
                            </div>


                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                People</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_accounts }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Teams</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_teams }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completed Applications
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ progress }}%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Review</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ review_pending_applications }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <!-- <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6> -->
                                    <!-- <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div> -->
                                <!-- </div> -->
                                <!-- Card Body -->
                                <!-- <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div> -->
                                <!-- <div class="card shadow mb-4"> -->
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Field of Study</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-bar">
                                            <canvas id="myBarChart"></canvas>
                                        </div>
                                        <!-- <hr>
                                        Styling for the bar chart can be found in the
                                        <code>/js/demo/chart-bar-demo.js</code> file. -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Application Status</h6>
                                    <!-- <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Review Pending
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Accepted
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Declined
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Waiting List
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="align-content-center" style="width: 100%;">
                            <div class="card shadow mb-4 mr-3 ml-3 alig">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">All Applications</h6>
                                </div>
                                <div id="myBtnContainer">
                                    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                                    <button class="btn" onclick="filterSelection('Not')"> Not Submitted</button>
                                    <button class="btn" onclick="filterSelection('Submitted')"> Submitted</button>
                                    <button class="btn" onclick="filterSelection('Accepted')"> Accepted</button>
                                    <button class="btn" onclick="filterSelection('Declined')"> Declined</button>
                                    <button class="btn" onclick="filterSelection('Waitinglist')"> Waitinglist</button>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Team Name</th>
                                                    <th>Team Admin</th>
                                                    <th>Email</th>
                                                    <th>Member Count</th>
                                                    <th>Application Status</th>
                                                    <!-- <th>Salary</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for application in applications %}
                                                    {% if application.application_status == "Not Submitted"%}
                                                        <tr class="FilterRow Not" style="display: none;">
                                                            <td><a href="{% url 'team_detail' application.team.id %}">{{ application.team.name }}</a></td>
                                                            <td>{{ application.team.admin.profile.name }}</td>
                                                            <td>{{ application.team.admin.email }}</td>
                                                            <td>{{ application.member_count }}</td>
                                                            <td>{{ application.application_status }}</td>
                                                            <!-- <td>$320,800</td> -->
                                                        </tr>
                                                    {% else %}
                                                        <tr class="FilterRow {{ application.application_status }}" style="display: none;">
                                                            <td><a href="{% url 'team_detail' application.team.id %}">{{ application.team.name }}</a></td>
                                                            <td>{{ application.team.admin.profile.name }}</td>
                                                            <td>{{ application.team.admin.email }}</td>
                                                            <td>{{ application.member_count }}</td>
                                                            <td>{{ application.application_status }}</td>
                                                            <!-- <td>$320,800</td> -->
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Gender Distribbution</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChartGender"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> Prefer Not To Say
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Male
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Female
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Non-Binary
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">IEEE Membership Status</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChartIEEE"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Yes
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> No
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <!-- Highschool -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                High School Students</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ highschool_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Bachelors -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Bachelors</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ bachelors_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Masters -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Masters
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ masters_count }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PhD -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                PhD</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ phd_count }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

    <script>
        // data for pie chart
        var accepted = "{{ accepted_applications }}";
        var declined = "{{ declined_applications }}";
        var waitinglist = "{{ Waitinglist_applications }}";
        var pending = "{{ review_pending_applications }}";

        // Data for bar graph
        var science_count = "{{ science_count }}";
        var arts_count = "{{ arts_count }}";
        var engg_count = "{{ engg_count }}";
        var comm_count = "{{ comm_count }}";
        var school_count = "{{ school_count }}";
        var others_count = "{{ others_count }}";
        var bar_graph_upper_limit = "{{ bar_graph_upper_limit }}";

        // Data for gender chart
        var male = "{{ male_count }}";
        var female = "{{ female_count }}";
        var non_binary = "{{ non_binary_count }}";
        var pnts = "{{ pnts_count }}";

        // Data for IEEE Graph
        var is_ieee_percent = "{{ is_ieee_count }}";
        var not_ieee_percent = "{{ not_ieee_count }}";

        filterSelection("all");
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("FilterRow");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                RemoveClass(x[i], "filtershow");
                if (x[i].className.indexOf(c) > -1) AddClass(x[i], "filtershow");
            }
        }

        function AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
    


    <script>
        document.querySelector('#mail-wtlst').addEventListener('click', e=>{
            e.preventDefault();
            if(confirm("This will send emails to all the teams who are in WAITING LIST. Press OK to confirm")){
                window.location.href="{% url 'mail_wtlst' %}"
            }
        })

        document.querySelector('#mail-accepted').addEventListener('click', e=>{
            e.preventDefault();
            if(confirm("This will send confirmation emails to all the teams that are marked ACCEPTED. Please make sure all the teams that are selected are the right ones. Confirmation mails can be sent only once per team. This action is not reversible. Press OK to confirm.")){
                window.location.href="{% url 'mail_accepted' %}"
            }
        })

        document.querySelector('#mail-declined').addEventListener('click', e=>{
            e.preventDefault();
            if(confirm("This will send emails to all the teams that are marked DECLINED. Please make sure all the teams that are selected are the right ones. Declination mails can be sent only once per team. This action is not reversible. Press OK to confirm.")){
                window.location.href="{% url 'mail_declined' %}"
            }
        })

        document.querySelector('#mail-nosub').addEventListener('click', e=>{
            e.preventDefault();
            if(confirm("This will sent reminder emails to all the teams that have not submitted their applications yet. Press OK to confirm")){
                window.location.href="{% url 'mail_not_submitted' %}"
            }
        })

        // document.querySelector('#mail-declined').addEventListener('click', e=>{
        //     e.preventDefault();
        //     if(confirm("Once you submit application no changes can be made again. Make sure all members of the team has joined before you submit your application. No changes will be possible after submit. Are you sure you want to submit? Click 'OK' to submit")){
        //         window.location.href="{% url 'mail_declined' %}"
        //     }
        // })

        // document.querySelector('mail-wtlst').addEventListener('click', e=>{
        //     e.preventDefault();
        //     if(confirm("Once you submit application no changes can be made again. Make sure all members of the team has joined before you submit your application. No changes will be possible after submit. Are you sure you want to submit? Click 'OK' to submit")){
        //         window.location.href="{% url 'custom_mails' %}"
        //     }
        // })
    </script>
    {% endblock %}
</body>


</html>