footer.sticky-footer {
  background-color: black !important;
  color: white;
  border: 1px solid black;
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
